.DS_Store
.project
.pydevproject
.settings/
src/UI/build
src/UI/dist
src/credentials.json
src/credentials1.json
src/testing/simulation_ffline_hasher/
src/testing/small_scale/
src/UI/
src/Business/__init__.py
src/Business/__pycache__/
src/Repository/__pycache__/
src/Repository/__init__.py
src/testing/__pycache__/
src/testing/__init__.py
src/testing/unittests/__pycache__/
src/testing/unittests/__init__.py
src/UI/dist
src/Utils/__pycache__/
src/Utils/__init__.py
*.temp
*.json
*.exe
*.out
*.txt
